@import "color";


*{
    // outline: 1px solid red;
    font-family:arial,微軟正黑體;
    outline: none;
}
html,body,ul,p{
    margin:0;
    padding:0;
}
img{
   width: 100%;
   vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    color: rgb(80, 80, 80);
    margin: 0;
    // line-height: 1.8;
}
h1,h2,h3{
  letter-spacing: 8px;
}
h4,h5,h6{
  letter-spacing: 5px;
}
p,a,span,input,div,button{
    letter-spacing: 2px;
    color: rgb(80, 80, 80);
}
h1{
    font-size: 30px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
  font-size: 18px;
}
a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
}

p,a,span,input,div,button{
    font-size: 16px;
}
li{
  list-style-type: none;
}
button,input[type=submit],input[type=button]{
    box-sizing: content-box;
    padding: 0;
}
input[type=submit],input[type=button]{
    -webkit-appearance: none;
}
button{
    cursor: pointer;
}
input[type=text],input[type=password]{
    padding-left: 16px;
    box-sizing: border-box;
}
.wrap{
  width: 100%;
}
.container{
    margin:auto;
    max-width: 1200px;
    width: 100%;
    position: relative;
}

.v-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.dis-n{
    display: none;
}

.dis-i{
    display: inline;
}

.dis-ib{
    display:inline-block;
}

.dis-b{
    display:block;
}

.dis-f{
    display: flex;
}

.dis-if{
    display: inline-flex;
}
@mixin dis-lg(){
    .dis-lg-n{
        display: none;
    }

    .dis-lg-i{
        display: inline;
    }

    .dis-lg-ib{
        display:inline-block;
    }

    .dis-lg-b{
        display:block;
    }

    .dis-lg-f{
        display: flex;
    }

    .dis-lg-if{
        display: inline-flex;
    }
}

@mixin dis-xl(){
    .dis-xl-n{
        display: none;
    }

    .dis-xl-i{
        display: inline;
    }

    .dis-xl-ib{
        display:inline-block;
    }

    .dis-xl-b{
        display:block;
    }

    .dis-xl-f{
        display: flex;
    }

    .dis-xl-if{
        display: inline-flex;
    }
}


.float-r{
    float: right;
}

.float-l{
    float: left;
}

@mixin float-lg(){
    .float-lg-r{
        float: right;
    }

    .float-lg-l{
        float: left;
    }
}

@mixin float-xl(){
    .float-xl-r{
        float: right;
    }

    .float-xl-l{
        float: left;
    }
}

.v-show{
    visibility: visible;
}

.v-hide{
    visibility: hidden;
}

@mixin visibility-lg(){
    .v-lg-show{
        visibility: visible;
    }

    .v-lg-hide{
        visibility: hidden;
    }
}

@mixin visibility-xl(){
    .v-xl-show{
        visibility: visible;
    }

    .v-xl-hide{
        visibility: hidden;
    }
}

.bs-bb{
    box-sizing: border-box;
}

.ta-l{
    text-align: left;
}

.ta-c{
    text-align: center;
}

.ta-r{
    text-align: right;
}

.va-m{
    vertical-align: middle;
}
.va-b{
    vertical-align: bottom;
}
.wb-ba{
    word-break: break-all;
}

.of-h{
    overflow: hidden;
}

.of-a{
    overflow:auto;
}

.ofX-a{
    overflow-x: auto;
}

.ofY-a{
    overflow-y: auto;
}

.pointer{
    cursor: pointer;
}

.h-a{
  height: auto;
}
.h-i{
  height: inherit;
}
